@tailwind base;
@tailwind components;
@tailwind utilities;

  
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background-color: #F8F9FC;
}

a {
  color: inherit;
  text-decoration: none;
}

@layer components {
  .container {
    @apply px-4 md:mx-16 sm:mx-7 2xl:max-w-7xl relative
  }
  .h1-text{
    @apply lg:text-[56px] text-[24px] font-font-clash font-bold text-center
  }
  .p-text{
    @apply lg:text-base text-[8px] font-font-satoshi lg:w-[55%] w-[80%] flex mx-auto text-coregray font-medium text-center leading-[16px]
  }
}

@media screen and (min-width: 320px) {
  .banner{
    height: 75vh;
  }
};
@media screen and (max-width: 768px) {
  .banner{
    height: 100vh;
  }
};
@media screen and (min-width: 480px) {
  .banner{
    height: 84vh;
  }
};


